.header {
  margin-top: 45px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  &_linkswp{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    &_item{
      &_link{
        &_active{
          text-decoration: underline;
        }
      }
    }
  }
}