.section{
  &_py{
    padding-inline: 100px;
    @include media-inferior($breakpoints-desktop){
      padding-inline: 50px;
    }
    @include media-inferior($breakpoints-s){
      padding-inline: 20px;
    }
    @include media-superior("1812px"){
      max-width: 1700px;
      margin-inline: auto;
      width: 100%;
    }
  }
}