@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* * PAGES * */
/* * COMPONENTS * */
.header {
  margin-top: 45px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header_linkswp {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}
.header_linkswp_item_link_active {
  text-decoration: underline;
}

.footer {
  background-color: black;
  padding-block: 66px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer p {
  color: white;
}

.announceDetail_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: 30px 50px;
  gap: 20px;
}
.announceDetail_infos_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media (max-width: 836px) {
  .announceDetail_infos_right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
.announceDetail_infos_right_profile {
  display: flex;
  gap: 10px;
}
.announceDetail_infos_right_profile p {
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  max-width: 120px;
  text-align: end;
}
.announceDetail_infos_right_profile img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.announceDetail_infos_right_starsWp {
  display: flex;
  gap: 15px;
}
.announceDetail_infos_left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 836px) {
  .announceDetail_infos_left {
    min-width: 100%;
  }
}
.announceDetail_infos_left_titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.announceDetail_infos_left_titles_title {
  font-size: clamp(18px, 2vw + 1rem, 36px);
  color: #FF6060;
  font-weight: 500;
}
.announceDetail_infos_left_titles_subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.announceDetail_infos_left_tagWp {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.announceDetail_infos_collapsesWp {
  flex: 100%;
}
.announceDetail_carousel {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.announceDetail_carousel_btnWp {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .announceDetail_carousel_btnWp {
    width: calc(100% - 100px);
  }
}
@media (max-width: 576px) {
  .announceDetail_carousel_btnWp {
    width: calc(100% - 40px);
  }
}
.announceDetail_carousel_currentImg {
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.announceDetail_carousel_imgWp {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 25px;
}
.announceDetail_carousel_imgWp_slider {
  display: flex;
  transition: transform ease-in-out 1s;
}
.announceDetail_carousel_imgWp_slider_img {
  height: auto;
  object-fit: cover;
  object-position: center;
}

/*
Result Skip Results Iframe
EDIT ON
summary {
  border: 4px solid transparent;
  outline: none;
  &:focus {
    border-color: black;
  }
  padding: 1rem;
  display: block;
  background: #444;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
details {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}
details summary::-webkit-details-marker {
  display:none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}



.content {
  border-top: none;
  padding: 10px;
  border: 2px solid #888;
  border-top: none;
}

p {
  margin: 0;
  padding-bottom: 10px;
  &:last-child {
    padding: 0;
  }
}
img {
  max-width: 100%;
}*/
.btn_arrow {
  background: 0;
  border: 0;
  height: 80px;
}
.btn_arrow--prev {
  padding-inline: 20px 0;
}
.btn_arrow--next {
  padding-inline: 0 20px;
}

.collapse-details {
  max-width: 500px;
  overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
}
.collapse-details[open] + .collapse-content {
  max-height: fit-content; /* Set a max-height value enough to show all the content */
  max-height: 800px; /* Set a max-height value enough to show all the content */
  transition: max-height 400ms ease-out, border 0ms linear;
}
.collapse-details[open] .collapse-details-summary-title::before {
  rotate: 180deg;
  transition: rotate 200ms ease-out;
}
.collapse-details[open] .collapse-details-summary-title {
  border-radius: 5px 5px 0px 0px;
  transition: border-radius 400ms ease-out;
}
.collapse-details-summary {
  display: block;
}
.collapse-details-summary::-webkit-details-marker {
  display: none;
}
.collapse-details-summary-title {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  background: #FF6060;
  border-radius: 5px;
  color: white;
  transition: border-radius 400ms ease-out;
}
.collapse-details-summary-title:hover {
  cursor: pointer;
}
.collapse-details-summary-title::before {
  content: url("/src/assets/img/icons/arrow_top.svg");
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  position: absolute;
  right: 2px;
  transition: rotate 200ms 400ms ease-out;
}
.collapse-content {
  box-sizing: border-box;
  max-width: 500px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}
.collapse-content p {
  background: #FBFBFB;
  border-radius: 0px 0px 5px 5px;
  padding: 20px 20px 20px 20px;
}

.tag {
  background-color: #FF6060;
  padding: 3px 30px;
  border-radius: 10px;
  width: max-content;
  font-size: 14px;
  color: white;
  font-weight: 700;
  cursor: default;
}

.section_py {
  padding-inline: 100px;
}
@media (max-width: 1023px) {
  .section_py {
    padding-inline: 50px;
  }
}
@media (max-width: 576px) {
  .section_py {
    padding-inline: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
