@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* * PAGES * */
/* * COMPONENTS * */
.header {
  margin-top: 45px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header_logo {
  height: auto;
}
@media (max-width: 576px) {
  .header_logo {
    width: 125px;
  }
}
.header_linkswp {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 576px) {
  .header_linkswp {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .header_linkswp_item_link {
    font-size: 12px;
  }
}
.header_linkswp_item_link_active {
  text-decoration: underline;
}

.footer {
  background-color: black;
  padding-block: 66px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer p {
  color: white;
}

.announceDetail_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: 30px 50px;
  gap: 20px;
}
.announceDetail_infos_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media (max-width: 836px) {
  .announceDetail_infos_right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
.announceDetail_infos_right_profile {
  display: flex;
  gap: 10px;
}
@media (max-width: 576px) {
  .announceDetail_infos_right_profile {
    gap: 5px;
  }
}
.announceDetail_infos_right_profile p {
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  max-width: 120px;
  text-align: end;
}
@media (max-width: 576px) {
  .announceDetail_infos_right_profile p {
    font-size: 12px;
  }
}
.announceDetail_infos_right_profile img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.announceDetail_infos_right_starsWp {
  display: flex;
  gap: 15px;
}
@media (max-width: 576px) {
  .announceDetail_infos_right_starsWp {
    gap: 5px;
  }
}
@media (max-width: 576px) {
  .announceDetail_infos_right_starsWp .star {
    width: 15px;
  }
}
.announceDetail_infos_left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 836px) {
  .announceDetail_infos_left {
    min-width: 100%;
  }
}
.announceDetail_infos_left_titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.announceDetail_infos_left_titles_title {
  font-size: clamp(18px, 2vw + 1rem, 36px);
  color: #FF6060;
  font-weight: 500;
}
.announceDetail_infos_left_titles_subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
@media (max-width: 576px) {
  .announceDetail_infos_left_titles_subtitle {
    font-size: 14px;
  }
}
.announceDetail_infos_left_tagWp {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.announceDetail_infos_collapsesWp {
  flex: 100%;
}
.announceDetail_carousel {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.announceDetail_carousel_btnWp {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .announceDetail_carousel_btnWp {
    width: calc(100% - 100px);
  }
}
@media (max-width: 576px) {
  .announceDetail_carousel_btnWp {
    width: calc(100% - 40px);
  }
}
.announceDetail_carousel_currentImg {
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.announceDetail_carousel_imgWp {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 25px;
}
.announceDetail_carousel_imgWp_slider {
  display: flex;
  transition: transform ease-in-out 1s;
}
.announceDetail_carousel_imgWp_slider_img {
  height: auto;
  object-fit: cover;
  object-position: center;
}

.about {
  margin-block: 50px 38px;
}
.about_wp {
  margin-top: 38px;
  padding-inline: 108px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1023px) {
  .about_wp {
    padding-inline: 60px;
  }
}
@media (max-width: 576px) {
  .about_wp {
    padding-inline: 0;
  }
}

/*
Result Skip Results Iframe
EDIT ON
summary {
  border: 4px solid transparent;
  outline: none;
  &:focus {
    border-color: black;
  }
  padding: 1rem;
  display: block;
  background: #444;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
details {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}
details summary::-webkit-details-marker {
  display:none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}



.content {
  border-top: none;
  padding: 10px;
  border: 2px solid #888;
  border-top: none;
}

p {
  margin: 0;
  padding-bottom: 10px;
  &:last-child {
    padding: 0;
  }
}
img {
  max-width: 100%;
}*/
.error_404 {
  margin-block: 139px;
  display: flex;
  flex-direction: column;
  gap: 139px;
}
@media (max-width: 576px) {
  .error_404 {
    margin-block: 113px;
    gap: 113px;
  }
}
.error_404_title {
  font-size: 288px;
  font-weight: 800;
  color: #FF6060;
  text-align: center;
  line-height: 218px;
}
@media (max-width: 1023px) {
  .error_404_title {
    font-size: 250px;
    line-height: normal;
  }
}
@media (max-width: 576px) {
  .error_404_title {
    font-size: 110px;
  }
}
.error_404_subtitle {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  text-align: center;
  padding-inline: 30px;
}
@media (max-width: 1023px) {
  .error_404_subtitle {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .error_404_subtitle {
    font-size: 12px;
    padding-inline: 60px;
  }
}
.error_404_link {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .error_404_link {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .error_404_link {
    font-size: 12px;
  }
}

.btn_arrow {
  background: 0;
  border: 0;
  height: 80px;
}
@media (max-width: 576px) {
  .btn_arrow {
    height: 20px;
  }
}
.btn_arrow img {
  width: 100%;
  height: 100%;
}
.btn_arrow--prev {
  padding-inline: 20px 0;
}
.btn_arrow--next {
  padding-inline: 0 20px;
}

.collapse {
  width: fit-content;
}
.collapse_details.collapse_details[open] .collapse_details_summary_title::after {
  transform: rotate(180deg);
}
.collapse_details_summary {
  background-color: #FF6060;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.collapse_details_summary::-webkit-details-marker {
  display: none;
}
.collapse_details_summary::marker {
  display: none;
}
.collapse_details_summary::after {
  content: url("/src/assets/img/icons/arrow_top.svg");
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  transition: rotate 200ms 400ms ease-out;
}
.collapse_details_summary_title {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  background: #FF6060;
  border-radius: 5px;
  color: white;
  transition: border-radius 400ms ease-out;
}
.collapse_details_summary_title:hover {
  cursor: pointer;
}
.collapse_content {
  background-color: #FBFBFB;
  overflow: hidden;
  height: 0;
  transition: height 1s ease-out, opacity 1s ease-out;
  opacity: 0;
  max-height: fit-content;
  color: black;
  border: 0;
}
.collapse_content--open {
  opacity: 1;
}
.collapse_content p {
  background: #FBFBFB;
  border-radius: 0px 0px 5px 5px;
  padding: 20px 20px 20px 20px;
}

.hero {
  width: 100%;
}
.hero img {
  border-radius: 25px;
  filter: brightness(0.7);
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 111px;
}

.tag {
  background-color: #FF6060;
  padding: 3px 30px;
  border-radius: 10px;
  width: max-content;
  font-size: 14px;
  color: white;
  font-weight: 700;
  cursor: default;
}
@media (max-width: 576px) {
  .tag {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .tag {
    padding: 3px 20px;
  }
}

.section_py {
  padding-inline: 100px;
}
@media (max-width: 1023px) {
  .section_py {
    padding-inline: 50px;
  }
}
@media (max-width: 576px) {
  .section_py {
    padding-inline: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
