:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 100px;
}
.header_linkswp {
  list-style: none;
}
.footer {
  background-color: black;
}
.footer p {
  color: white;
}

.announceDetail_carousel {
  position: relative;
  width: 100%;
}
.announceDetail_carousel_btnWp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.announceDetail_carousel_imgWp {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 25px;
}
.announceDetail_carousel_imgWp_slider {
  display: flex;
  transition: transform ease-in-out 1s;
}
.announceDetail_carousel_imgWp_slider_img {
  height: auto;
  object-fit: cover;
  object-position: center;
}

Result Skip Results Iframe EDIT ON summary {
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  background: #444;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
Result Skip Results Iframe EDIT ON summary:focus {
  border-color: black;
}

details {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

.content {
  border-top: none;
  padding: 10px;
  border: 2px solid #888;
  border-top: none;
}

p {
  margin: 0;
  padding-bottom: 10px;
}
p:last-child {
  padding: 0;
}

img {
  max-width: 100%;
}

.collapse-details {
  max-width: 500px;
  overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
}
.collapse-details[open] + .collapse-content {
  max-height: fit-content; /* Set a max-height value enough to show all the content */
  max-height: 800px; /* Set a max-height value enough to show all the content */
  transition: max-height 400ms ease-out, border 0ms linear;
}
.collapse-details[open] .collapse-details-summary-title::before {
  rotate: 180deg;
  transition: rotate 200ms ease-out;
}
.collapse-details[open] .collapse-details-summary-title {
  border-radius: 5px 5px 0px 0px;
  transition: border-radius 400ms ease-out;
}
.collapse-details-summary {
  display: block;
}
.collapse-details-summary::-webkit-details-marker {
  display: none;
}
.collapse-details-summary-title {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  background: #FF6060;
  border-radius: 5px;
  color: white;
  transition: border-radius 400ms ease-out;
}
.collapse-details-summary-title:hover {
  cursor: pointer;
}
.collapse-details-summary-title::before {
  content: url("/src/assets/img/icons/arrow_top.svg");
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  position: absolute;
  right: 2px;
  transition: rotate 200ms 400ms ease-out;
}
.collapse-content {
  box-sizing: border-box;
  max-width: 500px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}
.collapse-content p {
  background: #FBFBFB;
  border-radius: 0px 0px 5px 5px;
  padding: 20px 20px 20px 20px;
}

/*# sourceMappingURL=index.css.map */
