.content {
  overflow: hidden;
  height: 0;
  transition: height 1s ease-out, opacity 1s ease-out;
  opacity: 0;
  max-height: fit-content;
}

.content.open {
  opacity: 1;
}

summary {
  cursor: pointer;
}
